body {
  font-size: 19.5px;
  color: #868e96;
}

body h1 {
  font-size: 27px;
  color: #323538;
}

body h2 {
  font-size: 22px;
  color: #323538;
}

body h3 {
  font-size: 20px;
  color: #323538;
}

body a {
  color: #323538;
}

body * {
  outline: none;
}

.main__section, .footer {
  padding: 16px 0;
  border-bottom: #868e96 0.5px solid;
}

.main .sectionExperiencia__data, .main .sectionFormacao__data {
  color: #323538;
  font-size: .8em;
}

ul {
  list-style: disc;
  margin-left: 40px;
  font-size: .8em;
}

ul li {
  list-style: disc;
}

.header {
  padding-top: 75px;
  padding-bottom: 20px;
  border-bottom: #868e96 0.5px solid;
}

.header__row {
  min-height: calc(100vh - 95px);
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #323538;
  padding: 0 20px;
}

.header__nome {
  font-weight: lighter;
  color: #fff;
}

.header__titulo {
  font-size: 40px;
  margin-bottom: 0;
}

.header__cidade {
  margin: .5em 0;
}

.header__email {
  display: block;
  font-size: 15px;
  font-weight: bolder;
}

.header__redes {
  display: flex;
  background-color: #323538;
  color: #fefefe;
  font-size: 27px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main .sectionExperiencia__cargo {
  margin-bottom: 0;
}

.main .sectionExperiencia__empresa {
  margin: 0;
}

.main .sectionFormacao__instituicao {
  margin-bottom: 0;
}

.main .sectionFormacao__curso {
  margin: 0;
}

.main .sectionCompetencias .fab {
  font-size: 40px;
  display: block;
}

.main .sectionCompetencias__label {
  margin-top: 0;
  font-size: 16px;
  font-weight: bolder;
  color: #323538;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 47.25rem;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 47.25rem;
  }
  body {
    font-size: 21px;
  }
  body h1 {
    font-size: 42px;
  }
  body h2 {
    font-size: 32px;
  }
  body h3 {
    font-size: 25px;
  }
  .main__section, .footer {
    padding: 32px 0;
  }
  .header {
    padding-top: 100px;
  }
  .header__row {
    min-height: initial;
  }
  .header__nav {
    height: 100%;
    width: 150px;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 47.25rem;
  }
}
