// imagem de fundo
@mixin background-image($img, $positionX:center, $positionY:center, $size:cover, $repeat:no-repeat) {
    background-image: url('../img/'+$img) ;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $positionX $positionY;
}

//default pseudo
@mixin pseudo($content: '', $display: block, $pos: absolute) {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
//Set placeholder color 
@mixin inputPlaceholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}
@mixin centerX{
    left: 50%;
    transform: translateX(-50%)
}

@mixin centerY{
    top: 50%;
    transform: translateY(-50%)
}

@mixin center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

@mixin shadow{
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

//botão pressionavel
@mixin buttonPressionado($boxShadowColor:#000, $boxShadowBottom:5px, $padtb:5px, $padlr:20px) {
    text-transform: uppercase;
    border: none;
    padding: $padtb $padlr;
    display: inline-block;
    color: #fff;
    box-shadow: 0 $boxShadowBottom 0 $boxShadowColor;

    &:hover {
        box-shadow: 0 $boxShadowBottom 0 $boxShadowColor;

    }

    &:active {
        position: relative;
        top: $boxShadowBottom;
        box-shadow: none;

    }
}

@mixin circle($size) {
    &--circle{
        border-radius: 100%;
        display: inline-flex;
        @include size($size);
    }
}

@mixin hoverGrowUp {
    &:hover, &:focus {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: .3s;
    }
}

@mixin hoverLighten{
    &--hoverLighten:hover {
        opacity: 0.8;
    }
}

@mixin listPointImage($img) {
    position: relative;

    &--listDecoration:after {
        @include pseudo;
        left: -30px;
        @include centerx;
        @include size(15px);
        background: url('../../img/'+$img) no-repeat cover center;
    }

}

@mixin videoBase {
    position: relative;
    width: 100%;

    &:before {
        content: "";
        display: block;
        padding-bottom: 56.25%;
    }

    .close {
        display: none;
        position: absolute;

    }

    .videoPlayer {
        display: none;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        border-radius: 30px;
        // transition: width .2s ease-in-out, height .2s ease-in-out, transform .3s ease-in-out;
        transition: .3s;

        &:before {
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }

        &__iframe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        @include mq('tablet') {
            border-radius: 20px;

            .close {
                top: 15px;
                right: 15px;
                cursor: pointer;
                z-index: 11;
                color: #fff;
            }

            &.is-sticky {
                position: fixed;
                bottom: 30px;
                right: 5px;
                width: 380px;
                z-index: 900;
                // transition: width .2s ease-in-out, height .2s ease-in-out, transform .3s ease-in-out;
                transition: .3s;

            }
        }
    }
}

$breakpoints: ("phone-wide": 400px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1280px,
    "desktop-wide": 1366px,
    "desktop-extra-wide": 1440px,
    "desktop-large": 1600px,
    "desktop-extra-large": 1900px,
    "desktop-xx-large": 2500px);

   
@mixin mq($px, $worh: width, $type: min) {
    @if map_has_key($breakpoints, $px) {
        $px: map_get($breakpoints, $px);

        @if $type==min {
            $px: $px - 1px;
        }

        @media only screen and (#{$type}-#{$worh}: $px) {
            @content;
        }
    }
}