
$breakpoints: (
    "phone-wide": 400px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1280px,
    "desktop-wide": 1366px,
    "desktop-extra-wide": 1440px,
    "desktop-large": 1600px,
    "desktop-extra-large": 1900px,
    "desktop-xx-large": 2500px
    );

@mixin mq($px, $worh: width, $type: min) {
    @if map_has_key($breakpoints, $px) {
        $px: map_get($breakpoints, $px);

        @if $type==min {
            $px: $px - 1px;
        }

        @media only screen and (#{$type}-#{$worh}: $px) {
            @content;
        }
    }
}


// imagem de fundo
@mixin background-image($img, $positionX:center, $positionY:center, $size:cover, $repeat:no-repeat) {
    background-image: url('../img/'+$img) ;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $positionX $positionY;
}

//default pseudo
@mixin pseudo($content: '', $display: block, $pos: absolute) {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin centerX{
    left: 50%;
    transform: translateX(-50%)
}

@mixin centerY{
    top: 50%;
    transform: translateY(-50%)
}

@mixin center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

@mixin shadow{
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

//botão pressionavel
@mixin buttonPressionado($boxShadowColor:#000, $boxShadowBottom:5px, $padtb:5px, $padlr:20px) {
    text-transform: uppercase;
    border: none;
    padding: $padtb $padlr;
    display: inline-block;
    color: #fff;
    box-shadow: 0 $boxShadowBottom 0 $boxShadowColor;

    &:hover {
        box-shadow: 0 $boxShadowBottom 0 $boxShadowColor;

    }

    &:active {
        position: relative;
        top: $boxShadowBottom;
        box-shadow: none;

    }
}

@mixin circle($size) {
    &--circle{
        border-radius: 100%;
        display: inline-flex;
        @include size($size);
    }
}
@include mq('tablet-wide'){
    .iziModal{
        border-radius: 30px!important;
    }
}
@mixin button($rad:30px,$maxw:500px, $mar:20px 0, $pad: 15px) {    
    width: 100%;
    max-width: $maxw;
    padding: $pad;
    margin: $mar;
    border-radius: $rad;
    display: inline-block;
    cursor: pointer;
    transition: .3s;

}
@mixin input( $focus:#ddd,$pad:0 15px, $border: 1px solid #ddd, $rad: 10px,$mar: 7.5px){
    width: 100%;
    padding: $pad;
    border: $border;
    border-radius: $rad;
    margin-bottom: $mar;
    transition: .3s;
    color: rgba(175, 175, 175, .8);
    box-sizing: border-box!important;

    &:focus {
        border-bottom: 1px solid $focus!important;
        border-color: $focus;
        box-shadow: none!important;
        transition: .3s;
    }
    @include inputPlaceholder{
    color: rgba(175, 175, 175, .8);
    }
}
@mixin modal {
    padding: 30px 40px;

    &-pdf {
        padding: 0;

    }

    %input {
        width: 100% !important;
        padding: 0 15px !important;
        border: 1px solid #ddd !important;
        border-radius: 3px !important;
        margin-bottom: 15px !important;
        width: 100% !important;
        transition: .5s !important;
        box-sizing: border-box !important;

        &:focus {
            border-color: #2249EC !important;
            transition: .5s !important;
            box-shadow: none!important;
        }
    }

    &__nome,
    &__email,
    &__telefoneDdd,
    &__telefoneNumero,
    &__telefoneHidden {
        @extend %input;
    }

    &__telefoneDdd {
        display: inline-block;
        max-width: 21%;
        margin-right: 10px !important
    }

    &__telefoneNumero {
        display: inline-block;
        max-width: 72.5%;
    }

    &__check {
        display: flex !important;
        font-size: .8em !important;
        border: none !important;
        padding: 0 !important;
    }

    &__button {
        cursor: pointer !important;
        pointer-events: painted !important;
        color: #fff !important;
        font-size: 1em !important;
        margin-bottom: 0 !important;
        width: 100% !important;
        padding: 15px !important;
        border: 1px solid #ddd !important;
        max-width: 50% !important;
        font-weight: 600;
        background: rgba(1, 252, 198, 1);
        background: -moz-linear-gradient(left, rgba(1, 252, 198, 1) 0%, rgba(39, 227, 139, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 252, 198, 1)), color-stop(100%, rgba(39, 227, 139, 1)));
        background: -webkit-linear-gradient(left, rgba(1, 252, 198, 1) 0%, rgba(39, 227, 139, 1) 100%);
        background: -o-linear-gradient(left, rgba(1, 252, 198, 1) 0%, rgba(39, 227, 139, 1) 100%);
        background: -ms-linear-gradient(left, rgba(1, 252, 198, 1) 0%, rgba(39, 227, 139, 1) 100%);
        background: linear-gradient(to right, rgba(1, 252, 198, 1) 0%, rgba(39, 227, 139, 1) 100%);
        transition: .3s;

        &:hover {
            color: #fff;
            opacity: 0.8;
        }

        &--desativado {
            background: #77767b !important;
            color: #d6d6d8 !important;
            pointer-events: none !important;
            font-weight: bold !important;
            transition: .3s !important;
        }
    }

    .termo--link {
        color: blue;
        cursor: pointer;
    }

    @include mq('tablet') {
        & {
            &__telefoneDdd {
                display: inline-block;
                max-width: 15%;
                margin-right: 10px !important
            }

            &__telefoneNumero {
                display: inline-block;
                max-width: 81.5%;
            }
        }
    }
}


@mixin hoverGrowUp {
    &--hoverGrowUp:hover, &--hoverGrowUp:focus {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: .3s;
    }
}

@mixin hoverLighten{
    &--hoverLighten:hover {
        opacity: 0.8;
    }
}

@mixin listPointImage($img) {
    position: relative;

    &--listDecoration:after {
        @include pseudo;
        left: -30px;
        @include centerx;
        @include size(15px);
        background: url('../../img/'+$img) no-repeat cover center;
    }

}

//Set placeholder color 
@mixin inputPlaceholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}